@model XiaoQingWa_Work_Model.Entity.TWorkerEntity
@section Header{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/plugins/lib/mutiselect/multiselectSrc/jquery.multiselect.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/plugins/lib/mutiselect/assets/style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/plugins/lib/mutiselect/ui/jquery-ui.css")" />
}

<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form">
        @Html.HiddenFor(m => m.WId, Model.WId)
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-7 col-sm-8">
                @Html.TextBoxFor(m => m.WName, Model.WName, new { @class = "input-text", @value = "", @placeholder = "" })
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>工人编号：</label>
            <div class="formControls col-xs-7 col-sm-8">
                @Html.TextBoxFor(m => m.WNo, Model.WNo, new { @class = "input-text", @value = "", @placeholder = "" })
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-7 col-sm-8 skin-minimal">
                <div class="radio-box">

                    @Html.RadioButtonFor(m => m.WSex, false, new { id = "sex-1" })
                    <label for="sex-1">男</label>
                </div>
                <div class="radio-box">

                    @Html.RadioButtonFor(m => m.WSex, true, new { id = "sex-2" })
                    <label for="sex-2">女</label>
                </div>

            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">备注描述：</label>
            <div class="formControls col-xs-7 col-sm-8">
                @Html.TextBoxFor(m => m.WDescript, Model.WDescript, new { type = "text", @class = "input-text", @value = "", @placeholder = "" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">流水线：</label>
            <div class="formControls col-xs-7 col-sm-8">
                @Html.DropDownList("LineCode", @ViewBag.LineList as IEnumerable<SelectListItem>, new { type = "text", @multiple = "multiple", @class = "input-text", @value = "" })
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-7 col-sm-8 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="button" id="btnSave" onclick="member_add()" value="提交">
            </div>
        </div>
    </form>
</article>
@Html.Hidden("selectcode", (string)ViewBag.SelectCode)
@section pagescripts{

    <script type="text/javascript" src="@Url.Content("~/plugins/lib/mutiselect/ui/jquery.ui.core.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/lib/mutiselect/ui/jquery.ui.widget.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/lib/mutiselect/assets/prettify.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/lib/mutiselect/multiselectSrc/jquery.multiselect.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/lib/mutiselect/multiselectSrc/jquery.multiselect.filter.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });

            $("#LineCode").multiselect({
                noneSelectedText: "--请选择--",
                checkAllText: "全选",
                uncheckAllText: '全不选',
                selectedList: 1
            });
            $("#LineCode").multiselectfilter({
            });

            var sceneIdList = $("#selectcode").val();
            if ($("#selectcode").val() != undefined) {
                sceneIdArr = sceneIdList.split(",");

                $('#LineCode option').each(function (i, content) {

                    if ($.inArray($.trim(content.value), sceneIdArr) >= 0) {
                        this.selected = true;
                    }
                });

                //设置选中值后，需要刷新select控件
                $("#LineCode").multiselect('refresh');
            }
            


            initValidator();
        });
        var validator;
        function initValidator() {
            validator = $("#form").validate({
                rules: {
                    WName: {
                        required: true,
                        maxlength: 50
                    },
                    WNo: {
                        required: true,
                        maxlength: 50,
                    },
                    WSex: {
                        required: true,
                    }

                },
                onkeyup: function (element, event) {
                    //去除左侧空格
                    var value = this.elementValue(element).replace(/^\s+/g, "");
                    $(element).val(value);
                },
                focusCleanup: true,
                onfocusout: false,
                onclick: false
            });
        }

        /*用户-添加*/
        function member_add() {
            if (!validator.form())
                return false;
        var url = '@Url.Action("CreateWorker")';
        var params = $('form').serializeArray();
        $("#btnSave").attr('disabled', true);
        $("#btnSave").val("保存中...");
        $.post(url, params, function (data) {

            if (data.Value == "success") {
                layer.msg(data.Text, { icon: 1, time: 1000 }, function () {
                    layer_close();
                });
            } else {
                $("#btnSave").removeAttr('disabled');
                $("#btnSave").val("保存");
                layer.msg(data.Text, { icon: 2, time: 1000 });
            }
        });
        }
    </script>
}
