@using XiaoQingWa_Work_Utility
@using XiaoQingWa_Work_Model.Enum
@{
    ViewBag.Title = "WorkerList";
}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页 <span class="c-gray en">&gt;</span>
    系统统计 <span class="c-gray en">&gt;</span>
    流水线统计 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <form onsubmit="return false"  method="post" class="form form-horizontal" id="form">
        <div class="text-l">
            @*日期范围：
                <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" name="datemin" class="input-text Wdate" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" name="datemax" class="input-text Wdate" style="width:120px;">*@
            统计维度：
            <span class="select-box" style="width:250px">
                @Html.DropDownList("StaticType", new List<SelectListItem>() {
               new SelectListItem() { Text = "任务单", Value = "0" },
               new SelectListItem() { Text = "员工", Value = "1" },
               new SelectListItem() { Text = "流水线", Value = "2" }
           }, new { @class = "select" })
            </span>

            任务单：
            <span class="select-box" style="width:250px">
                @Html.DropDownList("BillNO", ViewBag.Task as List<SelectListItem>, new { @class = "select" })
            </span>
            流水线：
            <span class="select-box" style="width:250px">
                @Html.DropDownList("LineCode", ViewBag.Line as List<SelectListItem>, new { @class = "select" })
            </span>
            工位：
            <span class="select-box" style="width:250px">
                @Html.DropDownList("StationCode", ViewBag.Station as List<SelectListItem>, new { @class = "select" })
            </span>
            员工：
            <span class="select-box" style="width:250px">
                @Html.DropDownList("WId", ViewBag.Worker as List<SelectListItem>, new { @class = "select" })
            </span>
            @* <input type="text" class="input-text" style="width:250px" placeholder="输入员工姓名、编号" id="keyWords" name="keyWords">*@
            <button type="button" class="btn btn-success radius" id="searchBtn" name="" onclick="Search()"><i class="Hui-iconfont">&#xe665;</i> 搜记录</button>
        </div>
    </form>
    @*<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="update_task()" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i> 任务单归属
            </a>
        </span>

    </div>*@
    <div class="mt-20" id="resultList">

    </div>
</div>
@section pagescripts{
    <script type="text/javascript">
        $(function () {

            Search();
        });
       

        function Search() {
            var params = $("form").serialize();
            var url = '@Url.Action("StaticResult", "Static")';
            $("#searchBtn").attr("disabled", "disabled");
            $.post(url, params, function (data) {
                $("#resultList").html(data);
                $("#searchBtn").removeAttr("disabled");
            });
        }
        function update_task() {
            var idList = [];
            var rows = $("input[name='Ids']:checked");
            if (rows) {
                $.each(rows, function (index, item) {
                    var vl = $(item).val();
                    idList.push(vl);
                });
            }
            if (rows.length == 0) {
                $.alert({ title: '提示', content: "请至少选择一行" });
                return false;
            }
            layer_show('任务单归属', '@Url.Action("UpdateTask")?ids=' + idList,'350','200')
        }

    </script>

}



